@font-face {
  font-family: 'Header';
  src: url('../fonts/font-header.eot'); /* IE9 Compat Modes */
  src: url('../fonts/font-header.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/font-header.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-header.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/font-header.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Body';
  src: url('../fonts/font-body.eot'); /* IE9 Compat Modes */
  src: url('../fonts/font-body.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/font-body.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-body.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/font-body.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Body-Regular';
  src: url('../fonts/font-body-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/font-body-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/font-body-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-body-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/font-body-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.site-moto > h1 {
	    font-weight: lighter;
}

.sign-up-form__title {
		font-size: 25px;
}

.timer {
	padding-top:20px;
}

.timer-stage {
	padding-top:100px;
	font-size:25px;
	color:#ffffff;
	font-weight:bold;
}

.team-members p {
	font-weight: lighter;
	color: black;
}

.header .whitepaper {
    line-height: 32px;
}

@media (max-width: 767px) {
    .header .whitepaper {
        line-height: 24px;
    }
}

.sign-up-form {
  font-family: 'Body';
}

.sign-up-form input.mce_inline_error {
	border: 1px solid #ca5151;
	background-color: #fcd9d9!important;
}


#mce-responses {
	margin-top: 8px;
  font-family: 'Body';
}

.font-header {
  font-family: 'Header';
}

.font-body {
  font-family: 'Body';
}

.font-body-regular {
  font-family: 'Body-Regular';
}
